@font-face {
	font-family: Atkinson Hyperlegible;
	src: url(fonts/AtkinsonHyperlegible-Regular.ttf);
}

@font-face {
	font-family: Input Mono;
	font-weight: 100;
	src: url(fonts/InputMono-Light.ttf);
}

@font-face {
	font-family: Input Mono;
	font-style: italic;
	src: url(fonts/InputMonoCondensed-LightItalic.ttf);
}

@font-face {
	font-family: Input Mono;
	font-weight: bold;
	src: url(fonts/InputMonoCondensed-Bold.ttf);
}