@import "reset.scss";
@import "everforest.scss";
@import "fonts.scss";

body {
    background-color: $bg_dim;
    color: $fg;
    font-family: Atkinson Hyperlegible;
}

$page-width: 70vw;

.page {
    margin: 6rem auto 4rem;
}
