@import "reset.scss";
@import "everforest.scss";
@import "fonts.scss";

body {
    background-color: $bg_dim;
    color: $fg;
    font-size: 1.1rem;
    font-family: Atkinson Hyperlegible;
}

$page-width: min(48rem, 100vw);

.page {
    max-width: $page-width;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration-line: none;
    color: $blue;
    transition: color .2s;

    &:visited {
        color: $blue;
    }

    &:hover {
        color: $purple;
    }
}

.header {
    margin-bottom: 0.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;

    a {
        color: $fg;

        &:visited {
            color: $fg;
        }

        &:hover {
            background-color: $bg_dim;
            color: $purple;
        }
    }

    .site-title {
        color: $green;
        &:visited {
            color: $green;
        }
        &:hover {
            color: $purple;
        }
    }

    .nav {
        display: flex;
        flex-direction: row;
        margin-top: 0.01rem; // smth abt the text baseline wasnt looking right, this should fix it but it still feels off to me
        margin-left: auto;

        .nav-item {
            margin-right: .25rem;
        }
    }
}

.content {
    margin-bottom: 1rem;

    .title {
        font-size: 1.8rem;
        border-bottom: 3px dashed $bg2;
        padding-bottom: 0.2rem;
        margin-bottom: 0.3rem;
    }

    p:not(:last-child) {
        margin-bottom: 0.8rem;
    }

    .blog-info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        p {
            color: $grey0;
            font-size: 1.2rem;
            margin: 0;
        }

        .byline {
            margin-left: auto;
        }

        margin-bottom: 1rem;
    }  
}

.footer {
    margin-top: auto;
    margin-bottom: 1rem;
    border-top: 3px dashed $bg2;
    padding-top: 1rem;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: $grey2;
}

.not-found {
    font-size: 2rem;
    color: $red;
    text-align: center;
    position: relative;
    margin-top: 40%;
}